<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <appSettings>
    <add key="SwiftUrl" value="https://hsgate.tiernanotoole.ie" />
    <add key="User" value="hubic" />
    <add key="AuthKey" value="mypassword" />
    <add key="BoxFolder" value="c:\box" />
    <add key="DownloadFolder" value="c:\boxd" />
  </appSettings>
  <system.net>

    <settings>

      <servicePointManager

          checkCertificateName="false"

          checkCertificateRevocationList="false"

      />

    </settings>

  </system.net>
</configuration>